html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.main-container {
    background-color: black;
    border: 0px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px white;
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

.container {
    background-color: blue;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.btn_drag {
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -7px;
    top: -7px;
    border-radius: 50%;
}

.btn_close {
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 93px;
    top: -7px;
    border-radius: 50%;
}