html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.main-container {
    background-color: black;
    border: 0px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px white;
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.test {
    background-color: white;
    background-image: url("./images/arrows.png");
    border: 1px solid red;;
    width: 512px;
    height: 512px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.container {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 250px;
    top: 250px;
}

.btn_drag {
    background-color: white;
    background-image: url("./images/arrows.png");
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -7px;
    top: -7px;
    border-radius: 50%;
}

.btn_close {
    background-color: white;
    background-image: url("./images/close.png");
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 93px;
    top: -7px;
    border-radius: 50%;
}

.button_list {
    border-radius: 5px;
    box-shadow: 0 0 0px 0px white;
    width: 150px;
    height: 450px;
    position: absolute;
    left: 20px;
    top: 30px;
}

.menu_button {
    border: 1px solid white;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
}
.btn_txt {
    border: 0px solid red;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 10px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.menu_button:hover {
    box-shadow: 0 0 5px 2px white;
    cursor: pointer;
    background-color: white;
}

.menu_button:hover > .btn_txt {
    color: black;
}